<html xmlns:th="http://www.thymeleaf.org">
<!-- 필요한 값을 전달해서 이용하는 것이 특징 -->
<head th:fragment="common_header(title,links)">
    <!-- 파라미터로 전달된 title 값을 사용 -->
    <title th:replace="${title}">레이아웃 타이틀</title>
    <!-- 공통 -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/awesomeapp.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <script type="text/javascript" th:src="@{/sh/scripts/codebase.js}"></script>
 <!-- 추가 -->
 <th:block th:replace="${links}" />
</head>